<div class="container-fluid chatboxPage">
  <div class="row" id="chatboxHead">
    <h3>
      <div class="col-sm-11">
        <%=@chatbox.name%>
      <% if @chatbox.owner_id == current_user.id%>
        <%=link_to edit_chatbox_path(@chatbox.id) do%>
        <span class="glyphicon glyphicon-pencil"></span>
        <%end%>
      </div>
      <%end%>
      <div class="col-sm-1">
        <%=link_to chatbox_path(@chatbox.id), method: :delete do%>
        <span>
          <i class="fa fa-window-close" aria-hidden="true"></i>
        </span>
        <%end%>
      </div>
    </h3>
  </div>
  <br>
  <div class="row">
    <div class="msg" chatbox-id="<%=@chatbox.id%>" data-user-id="<%=current_user.id%>">
      <% @created_ats.keys.each do |key| %>
        <%if key == Time.now.strftime("%B %e %Y")%>
          <h4 class="text-center">Today</h4>
          <hr>
        <%else%>
          <h4 class="text-center"><%=key%></h4>
          <hr>
        <%end%>
        <% @chatbox.messages.order(created_at: :desc).limit(100).reverse.each do |message| %>
          <% if message.created_at.localtime.strftime("%B %e %Y") == key%>
            <%=render message%>
          <%end%>
        <%end%>
      <%end%>
    </div>

      <%= form_with scope: :message, url: chatbox_messages_path(@chatbox.id), id:"msgForm", remote: true do |form| %>
      <div class="form-group">
        <%= form.text_field(:content, class: 'form-control', autofocus: true, id:"msgInput") %>
      </div>
      <%end%>
  </div>
</div>


  <script>
  $(document).on('turbolinks:load',function(){
    updateScroll()
    $('#msgInput').on('keypress', function(e){
      if(e.keyCode === 13){
        console.log($('#msgInput').val())
        e.preventDefault()
        $('#msgForm').submit()
        updateScroll()
        }
      });


    function updateScroll(){
      $(".msg").animate({ scrollTop: $(".msg")[0].scrollHeight }, "fast");
      }
  })
  </script>
