<div class="container-fluid">
    <h3>
      <%=@chatbox.name%>
      <%=link_to edit_chatbox_path(@chatbox.id) do%>
        <span class="glyphicon glyphicon-pencil"></span>
      <%end%>
    </h3>

    <div class="msg" chatbox-id="<%=@chatbox.id%>">
      <% @chatbox.messages.order(created_at: :desc).limit(200).reverse.each do |message| %>
            <%=render message%>
      <%end%>
    </div>

  <%= form_with scope: :message, url: chatbox_messages_path(@chatbox.id), id:"msgForm", remote: true do |form| %>
    <div class="form-group">
      <%= form.text_field(:content, class: 'form-control', autofocus: true, id:"msgInput") %>
    </div>
  <%end%>

</div>
